/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/public/js
/public/css
/out
/.repl
.rebel_readline_history
*.log
/.env

.DS_Store
