@import "../base/layout";
@import "../base/reset";
@import "../base/typography";

.nav-bar {
  @include reset();

  width: 100%;
  position: fixed;
  top: 0;
  background-color: $body-background-color;
  border-bottom: 1px solid $divider-color;
  @include flex-box(space-between);

  div {
    @include flex-box(flex-end);

    a {
      text-transform: uppercase;
      font-family: $heading-font;
      margin-left: 20px;
    }
  }

  h1 {
    @include reset();
    font-size: 1.6rem;
  }
}