@import "../base/reset";
@import "../base/typography";

.nav-bar {
  @include reset();

  width: 100%;
  position: fixed;
  top: 0;
  background-color: $body-background-color;
  border-bottom: 1px solid $divider-color;

//   padding: 0.2rem 40px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;



  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    a {
      text-transform: uppercase;
      font-family: $heading-font;
      margin-left: 20px;
    }
  }



  h1 {
    @include reset();
    font-size: 1.6rem;
  }
}