$body-color: #333333;
$body-background-color: #fcfcfc;
$heading-color: #000000;
$link-color: #0099ff;
$divider-color: #f0f0f0;
$footer-color: rgba(255,255,255,0.5);
$footer-color-bright: rgba(255,255,255,0.8);
$footer-background-color: rgb(99, 74, 61);