@import "colors";
@import "layout";
@import "reset";
@import "typography";

body {
  @include reset();
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: $body-color;
  background-color: $body-background-color;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

h1, h2, h3 {
  color: $heading-color;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  color: #2d774b;
}

h3 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: $link-color;
}

a:hover {
  text-decoration: underline;
}
